body {
    margin: 0;
    height: 100vh;
    background-color: #252525;
}

.main,.footnote {
    padding: 40px 500px;
    text-align: left;
    color: #cccccc;
    font-size: 20px;
}

.main {
    font-family: "宋体";
}

.footnote {
    font-family: "仿宋";
}

.footnote-line {
   padding: 15px; 
}

@media screen and (max-width: 1600px) {
    .main,.footnote {
        padding: 40px 30%;
    }
}

@media screen and (max-width: 800px) {
    .main,.footnote {
        padding: 40px 10%;
    }
}

p {
    text-indent: 2em;
}

a {
    color: brown;
    text-decoration: none;
}

.part {
    font-size: 50px;
    font-weight: bold;
    text-indent: unset;
    padding: 40px 0px;
    text-align: center;
}

h1,h2,h3,h4,h5,h6 {
    padding: 40px 0px;
    text-align: center;
}